/* `flex-flow`
   ========================================================================== */

/**
 * Note: work is derived from https://github.com/mastastealth/sass-flex-mixin
 *
 * The 'flex-flow' property is a shorthand for setting the 'flex-direction'
 * and 'flex-wrap' properties, which together define the flex container's
 * main and cross axes.
 *
 * http://w3.org/tr/css3-flexbox/#flex-flow-property
 *
 * Values: <flex-direction> || <flex-wrap>
 * Default: row nowrap
 *
 * Example usage:
 * `@include flex-flow(row nowrap);`
 * `@include flex-flow(row nowrap, !important);`
 */

@mixin flex-flow($value: (row nowrap), $important: null) {
  -webkit-flex-flow: $value $important;
  -moz-flex-flow: $value $important;
  -ms-flex-flow: $value $important;
  flex-flow: $value $important;
}