/* `height`
   ========================================================================== */

@if $u-classes-height-width == true {

  $height-values:
    (100percent, 100%)
    (100viewport, 100vh);

  @each $height, $height-value in $height-values {

    .u-height--#{$height} {
      height: $height-value !important;
    }

  }

}

/* `max-width`
   ========================================================================== */

@if $u-classes-height-width == true {

  $max-width-values:
    (0, 0)
    (none, none)
    (100percent, 100%)
    (100viewport, 100vw);

  @each $max-width, $max-width-value in $max-width-values {

    .u-max-width--#{$max-width} {
      max-width: $max-width-value !important;
    }

  }

}


/* `min-height`
   ========================================================================== */

@if $u-classes-height-width == true {

  $min-height-values:
    (0, 0)
    (100percent, 100%);

  @each $min-height, $min-height-value in $min-height-values {

    .u-min-height--#{$min-height} {
      min-height: $min-height-value !important;
    }

  }

}


/* `width`
   ========================================================================== */

@if $u-classes-height-width == true {

  $width-values:
    (0, 0)
    (half, 100/2*1%)
    (quarter, 100/4*1%)
    (third, 100/3*1%)
    (three-quarters, 100/4*3%)
    (two-thirds, 100/3*2%)
    (100percent, 100%)
    (100viewport, 100vw);

  @each $width-size, $width-value in $width-values {

    .u-width--#{$width-size} {
      width: $width-value !important;
    }

  }

}
