/* `bottom`
   ========================================================================== */

@if $u-classes-positioning == true {

  $bottom-values:
    0;

  @each $bottom-value in $bottom-values {
  
    .u-bottom--#{$bottom-value} {
      bottom: $bottom-value !important;
    }
  
  }

}


/* `left`
   ========================================================================== */

@if $u-classes-positioning == true {

  $left-values:
    0;

  @each $left-value in $left-values {
  
    .u-left--#{$left-value} {
      left: $left-value !important;
    }
  
  }

}


/* `position`
   ========================================================================== */

@if $u-classes-positioning == true {

  $position-values:
    absolute
    fixed
    relative
    static;

  @each $position-value in $position-values {
  
    /* Without `!important` */
    .u-position--#{$position-value} {
      position: $position-value;
    }
  
    /* With `!important` */
    .u-position--#{$position-value}--important {
      position: $position-value !important;
    }
  
  }

}


/* `right`
   ========================================================================== */

@if $u-classes-positioning == true {

  $right-values:
    0;

  @each $right-value in $right-values {
  
    .u-right--#{$right-value} {
      right: $right-value !important;
    }
  
  }

}


/* `top`
   ========================================================================== */

@if $u-classes-positioning == true {

  $top-values:
    0;

  @each $top-value in $top-values {
  
    .u-top--#{$top-value} {
      top: $top-value !important;
    }
  
  }

}